# === Python ===
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# === Environnement virtuel local ===
myenv/
env/
venv/

# === Fichiers temporaires ===
*.log
*.tmp
*.bak
*.swp

# === IDEs ===
.vscode/
.idea/
*.iml

# === Fichiers de tests/output ===
*.png
*.wav
rapport_audio.txt
output/

# === OS ===
.DS_Store
Thumbs.db
